@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.date {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.App-link {
  color: #61dafb;
}

.graph {
  color: black;
  font-size: 10px;
  padding: 3px 0 3px 0;
  transition: all 0.5s ease 0s;
}
.graph-title {
  margin-left: 5px;
  white-space: nowrap;
}

.chart-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - (100% - 1200px));
  background-color: white;
}
@media (max-width: 1280px) {
  .chart-container {
    width: 95%;
  }
}
